#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  openvpnui-ui.service
BindsTo=openvpnui.service
After=openvpnui.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p db pki
ExecStartPre=/bin/rm -f %t/openvpnui-ui.pid %t/openvpnui-ui.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/openvpnui-ui.pid \
    --cidfile %t/openvpnui-ui.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/openvpnui.pod-id --replace -d --name  openvpnui-ui \
    --volume ./:/etc/openvpn:z \
    --volume ./db:/opt/openvpn-ui/db:z \
    --volume ./pki:/usr/share/easy-rsa/pki:z \
    --env OPENVPN_ADMIN_USERNAME=admin \
    --env OPENVPN_ADMIN_PASSWORD=Nethesis,1234 \
    ${OPENVPN_UI_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/openvpnui-ui.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP openvpnui-ui
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/openvpnui-ui.ctr-id
PIDFile=%t/openvpnui-ui.pid
Type=forking

[Install]
WantedBy=default.target
